@page
@model OfficeSuppliesManagement.Pages.User.IndexModel
@{
    ViewData["Title"] = "User Home";
}

<h2>User Home</h2>

<nav>
    <ul>
        <li><a asp-page="/Admin/ManageUsers">Inventory inquiry</a></li>
        <li><a asp-page="/Admin/ManageItems">application</a></li>

    </ul>
</nav>
